<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ page.description }}">
<meta name="keywords" content="{{ page.keywords }}">        
<title>{{ page.title }}</title>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="https://github.githubassets.com/favicon.ico">
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:image" content="https://octodex.github.com/images/Fintechtocat.png" />
